

    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!-- ================= NAVIGATION ================= -->

    <div class="navbar-fixed z-depth-1">
        <nav id="nav_f" class="nav_color " role="navigation">
            <div class="container">
                <div class="nav-wrapper  z-depth-1">
                    <img src="/assets/img/dog-symbol.png" class="hide-on-med-and-down" class="section scrollspy">
                    <a href="#" id="logo-container" class="brand-logo">Day With Your Dog</a>

                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="#yourMap">Map</a>
                        </li>
                        <li>
                            <a href="#dayP" >Your Day</a>
                        </li>
                        <li>
                            <a href="#team">Team</a>
                        </li>


                     {{#if user}}
                        <li>Hello {{user.username}}</li>
                        <li><a href="#logout" class="btnout">Log Out</a></li>
                     {{else}}
                        <li><a class="btnsign" href="#signup">Sign Up</a></li>
                        <li><a class="btnlog" href="#login">Log In</a></li>
                     {{/if}}

                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li>
                            <a href="#yourMap">Map</a>
                        </li>
                        <li>
                            <a href="#dayP">Your Day</a>
                        </li>
                        <li>
                            <a href="#team">Team</a>
                        </li>

                     {{#if user}}
                        <li>Hello {{user.username}}</li>
                        <li><a href="#logout" class="btnout">Log Out</a></li>
                     {{else}}
                        <li><a class="btnsign" href="#signup">Sign Up</a></li>
                        <li><a class="btnlog" href="#login">Log In</a></li>
                     {{/if}}
                
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="mdi-navigation-menu"></i>
                    </a>
                    <!-- Element Showed -->
                    <div class="fixed-action-btn" style="bottom:45px !important; right:24px !importantS;">
                        <a id="menu" onclick="$('.tap-target').tapTarget('open');" class="waves-effect waves-light btn btn-floating red" >ER</a>
                    </div>
                    <!-- Tap Target Structure -->
                    <div class="tap-target red" data-activates="menu">
                        <div class="tap-target-content">
                            <br>
                            <br>
                            <br>
                            <h5>Emergency Pet Hospitol Orlando</h5>
                            <p>407-323-2700</p>
                            <P>8742 White Rd, Orlando, FL 32818</P>
                            <a href="https://www.google.com/maps/dir/SSC,+College+Drive,+Sanford,+FL/Emergency+Pet+Hospital+of+Orlando,+8742+White+Rd,+Orlando,+FL+32818/@28.6450119,-81.5059945,11z/am=t/data=!4m13!4m12!1m5!1m1!1s0x88e76d2684165dcd:0x1f4d81166fb06182!2m2!1d-81.3010077!2d28.7505993!1m5!1m1!1s0x88e77871c43e3d2f:0x6a2ea917b4e0d116!2m2!1d-81.50573!2d28.562472" style="color:white;">
                            Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

 <!-- Div for display notification msg -->
 <div id="notifications"></div>

    <!-- SIGN UP MODAL -->
    <div id="signup" class="modal">
        <div class="modal-content">

                <h1 id="logText">Sign Up for Free</h1>

    <!-- show any messages that come back with authentication -->
                <!-- {{#if registerErr}}
                  <div class="alert alert-danger">
                    {{registerErr}}
                  </div>
                {{/if}} -->

                <div id="registerErr"></div>

                <form id="registerForm">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" name="username" id="newusername" placeholder="Set Your Username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="newemail" placeholder="Enter Your Email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="newpassword" placeholder="Set Your Password" required>
                    </div>
                    <button type="submit" class="btn blue darken-1">Get Started</button>
                </form>
        </div>
        <div class="modal-footer">
            <button class="btn-flat modal-close">Close</button>
        </div>
    </div>

    <!-- LOG IN Modal -->
    <div id="login" class="modal">
        <div class="modal-content">


            <h1 id="logText">Welcome Back</h1>

            <div id="loginErr"></div>

            <form id="loginForm">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Your Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password" required>
                </div>
                <button type="submit" class="btn blue darken-1">Login In</button>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn-flat modal-close">Close</button>
        </div>
    </div>

    <!-- ================= SPLASH PAGE ANIMATION ================= -->
    <!-- ADD A SEARCH BAR FEATURE HERE UNDER THE ANIMATION -->
    <!-- COULD ALSO ADD A SLIDER to DISPLAY DIFFERENT DOG IMAGES -->
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">

            <div class="row">
                <div class="col s12">

                <!--  Div for displaying welcoming message from the server -->
                    <div id="welcome-from-server"></div>

                    <h1 class="text_h center header cd-headline letters type">

                        <span class="cd-words-wrapper waiting">
                            <b class="is-visible">Day</b>
                            <b>Eat</b>
                            <b>Drink</b>
                            <b>Play</b>
                            <b>Shop</b>

                            <!-- <b>Socialize</b> -->
                        </span>
                        <span>with your Dog</span>

                    </h1>

                    <p id="adventure" class="center">CHOOSE YOUR ADVENTURE</p>

                    <div class="row">

                        <div id="ac-list" class="col s12 center-align">
                            {{#each index}}
                            <a href="#yourMap" class="activity section scrollspy" id="restaurants" onclick="analyzeClick(this.id)">{{plan1}}</a>
                            <a href="#yourMap"  class="activity section scrollspy" id="bars" onclick="analyzeClick(this.id)">{{plan2}}</a>
                            <a href="#yourMap" class="activity section scrollspy" id="parks" onclick="analyzeClick(this.id)">{{plan3}}</a>
                            <a href="#yourMap" class="activity section scrollspy" id="stores" onclick="analyzeClick(this.id)">{{plan4}}</a>
                            {{/each}}

                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!-- ================= PARALLAX ONE ================= -->
        <!-- This is the image that scrolls behind the text. -->
        <div class="parallax-container">
            <div class="parallax">
                <img src="/assets/img/bordercollie.jpg">
            </div>
        </div>


        
        <div id="allActivities">
            <!-- ================= MAP SECTION ================= -->
            <!--This will be the MAP SECTION-->
            <div id="yourMap" class="section scrollspy">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <h2 class="center header text_h2"> FIND YOUR
                                <span class="span_h2"> SPOT </span>
                            </h2>
                        </div>
                        <div class="col s12 white darken-2" id="map">GOOGLE MAPS
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="dayP"> 
                <div class="row">
                    <div class="col s12">
                        <div class="card" id="cardActivity">
                            <div class="card-content">
                                <h2 class="header text_b">Eat. Drink. Play. Shop.</h2>
                                <!-- Cards appear here when marker clicked on map using append -->
                                <div class="row" id="cardsAppearHere"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ================= PARALLAX TWO ================= -->
        <!-- This is the image that scrolls behind the text. -->
        <div class="parallax-container">
            <div class="parallax">
                <img src="/assets/img/doghose.jpg">
            </div>
        </div>

        <!-- ================= FOOTER ================= -->
        <!-- NEED TO CHANGE ALL OF LINKS -->
        <footer id="team" class="page-footer scrollspy">
            <div class="container">
                <h1 class="header text_f">The Team</h1>
                <div class="row">
                    <!-- AVATAR ONE - Wenfang -->
                    <div class="col s12 m3">
                        <div class="card card-avatar">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" src="/assets/img/wenfang-avatar.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Wenfang
                                    <br/>
                                    <small>
                                        <em>
                                            <a class="red-text text-darken-1" href="#">Co-Founder</a>
                                        </em>
                                    </small>
                                </span>
                                <p>

                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>

                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-github-square"></i>
                                    </a>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-envelope-square"></i>
                                    </a>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-pencil-square"></i>
                                    </a>

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- AVATAR TWO - Milena -->
                    <div class="col s12 m3">
                        <div class="card card-avatar">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" src="/assets/img/milena-avatar.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Milena
                                    <br/>
                                    <small>
                                        <em>
                                            <a class="red-text text-darken-1" href="#"> Co-Founder</a>
                                        </em>
                                    </small>
                                </span>
                                <p>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>

                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-github-square"></i>
                                    </a>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-envelope-square"></i>
                                    </a>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-pencil-square"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- AVATAR THREE - Geoff -->
                    <div class="col s12 m3">
                        <div class="card card-avatar">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" src="/assets/img/geoff-avatar.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    Geoff
                                    <br/>
                                    <small>
                                        <em>
                                            <a class="red-text text-darken-1" href="#">Co-Founder</a>
                                        </em>
                                    </small>
                                </span>
                                <p>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>

                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-github-square"></i>
                                    </a>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-envelope-square"></i>
                                    </a>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-pencil-square"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- AVATAR FOUR - Gavin -->
                    <div class="col s12 m3">
                        <div class="card card-avatar">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" src="/assets/img/gavin-avatar.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    Gavin
                                    <br/>
                                    <small>
                                        <em>
                                            <a class="red-text text-darken-1" href="#">Co-Founder</a>
                                        </em>
                                    </small>
                                </span>
                                <p>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>

                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-github-square"></i>
                                    </a>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-envelope-square"></i>
                                    </a>
                                    <a class="blue-text text-lighten-2" href="#">
                                        <i class="fa fa-pencil-square"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- ================= SCRIPTS================= -->

                <!-- Client Socketio -->
                <!-- <script src="/socket.io/socket.io.js"></script> -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

                    <!-- JS modal -->
                    <script src="/assets/javascript/modal.js">
                    </script>
                    <!-- Template JS files -->
                    <!-- <script src="../public/assets/javascript/plugin-min.js"></script> -->
                    <script src="/assets/javascript/custom-min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
                    <!-- Underscore JS library CDN -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
                    <!-- Custom JS File -->
                    <script src="/assets/javascript/api.js"></script>

                    <!-- Notify js -->
                    <script src="/assets/javascript/notify.js"></script>
                    
                    <!-- GOOGLE API MAPS SCRIPT LINK -->
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM9Sy-q5y4LdWziDiHZ03uspNuxXd7lUo&callback=initMap">
                    </script>

                    <!-- Templating Using Underscore Library -->
                    <!-- <script type="text/template" id="cardsResults">
        <div class="col s12 m4 l4">
            <div class="card" id="<%= card.cardId %>">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator cardImage" src="<%= cardImgURL %>" alt="search-image">
                     <span class="card-title"><%= card.cardName %> </span>
                </div>
               
                <div class="card-content text_b">
                    <p class="card-info">Distance: <%= card.cardDistance %> mi.</p>
                    <p class="card-info"><%= card.cardAddress %> </p>
                    <p class="card-info"><%= card.cardPhone %> </p>
                </div>
                <div class="card-action">
                    <a href="<%=card.cardYelpURL%>">Yelp Info</a> -->
                    <!-- <a href="#">More info</a> could add a link to do a modal with more info -->
                </div>
            </div>
    </div>
    </script>